.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

button[disabled] {
    opacity: 1 !important;
    pointer-events: auto !important;
    background-color: #323b42 !important;
}
